body{
    margin:0;
    font-family: Arial;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#333;
    padding:15px;
}

.logo{
    color:white;
    font-size:20px;
    font-weight:bold;
}

.menu a{
    color:white;
    text-decoration:none;
    margin-left:20px;
}

.menu a:hover{
    color:yellow;
}